.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #eecbbf;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card {
  background-color: rgb(189, 47, 47);

  padding: 1rem 2rem;
  border-radius: 4rem;
  width: 500px;
  height: 100px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.card:hover {
  background-color: rgb(131, 13, 13);

  transition: 0.4s;
}

.card a {
  color: white;
}

.bg2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  gap: 2rem;
}
.bg2 a:hover {
  transform: scale(104%);
}
@media (max-width: 600px) {
  .bg {
    height: 130vh;
  }
  .card {
    width: 300px;
    font-size: 0.8rem;
  }
}
