.bg {
  background-image: url('../../../public/assets/contato/bg-contato.png');
  height: 500px;
  background-size: cover;
  background-position: center;

  margin-top: -200px;

  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bg h1 {
  text-align: center;
  margin-top: 250px;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
}
.contatoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contatoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  background-color: white;
  border-radius: 4px 4px 0px 0px;
  width: 80%;
}

.contato {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contato,
.mensagem {
  display: flex;
  padding: 50px;
  border-radius: 0px 0px 4px 4px;
  gap: 5rem;
  width: 100%;
}

.contato div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.boxContato {
  width: 250px;
}

.mensagem {
  flex-direction: column;
  text-align: center;
  background-color: rgb(68, 68, 68);
  align-items: center;
  color: white;
  margin-bottom: 100px;
  width: 80%;
}

@media (max-width: 550px) {
  .mensagem {
    gap: 1rem;
    padding: 50px 20px;
  }
}

.mensagem a {
  width: 150px;
  text-transform: uppercase;
}
