.bg {
  background-image: url("../../../public/assets/contato/bg-contato.png");
  height: 500px;
  background-size: cover;
  background-position: center;

  margin-top: -200px;

  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bg h1 {
  text-align: center;
  margin-top: 250px;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
}
.contatoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contatoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-bottom: 100px;
  background-color: white;
}
.contato,
.mensagem {
  display: flex;
  padding: 100px;
  gap: 5rem;
  width: 100%;
  height: 450px;
}

.contato div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.mensagem {
  flex-direction: column;
  text-align: center;
  background-color: rgb(68, 68, 68);
  align-items: center;
  color: white;
}

.mensagem a {
  width: 150px;
  text-transform: uppercase;
}
