.bg {
  background-image: url("../../../public/assets/sobre/pag-sobre-bg.jpg");
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: center;

  margin-top: -200px;

  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bg h1 {
  text-align: center;
  margin-top: 200px;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
}
.sobreContainer {
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sobreTimelineContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sobreContent {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.sobreContent h3 {
  margin: 1rem;
  width: 60%;
}
.sobreContent span {
  font-weight: bold;
  margin-bottom: 30px;
  display: inline-block;
}
.card {
  margin-left: -78px;
}
.sobreImg {
  max-width: 100%;
}

.h3History {
  max-width: 60%;
}

.timeLine {
  width: 0px;
  height: 80px;
  color: red;
  margin: auto;
  border: 1px solid red;
}

.parallax {
  height: 500px;
  background-image: url("../../../public/assets/sobre/paralax-img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  color: white;
}

@media (max-width: 1360px) {
  .sobreContent {
    flex-direction: column;
    width: 100%;
    margin: 1rem;
  }
  .card {
    margin-top: -78px;
    margin-left: 0px;
  }
}

@media (max-width: 1060px) {
  .sobreImg {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .h3History {
    max-width: 100%;
  }
  .sobreContent h3 {
    width: 95%;
    margin: 1rem;
  }
  .parallax {
    padding: 1rem;
  }
}
