.bg {
  background-image: url("../../public/assets/header-bg-1.png");
  width: 100%;
  height: 780px;
  background-size: cover;
  background-position: center;
  margin-top: -200px;
}
.tarjaVermelha {
  width: 100%;
  background-color: rgb(199, 35, 35);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  gap: 0.5rem;
}
.tarjaVermelha div {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.gridProdutosContainer,
.sobreContainer,
.categoriasSectionContainer,
.duvidasContainer,
.socialContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

/* CATEGORIAS */
.categoriasContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;

  overflow: hidden;
}
.Link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.Link:hover div {
  transform: translateY(0%);
}
.Link:hover {
  width: 160%;
  overflow: visible;
  transition: 0.8s;
}
.Link div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  transition: 0.3s ease-in-out;
  transform: translateY(100%);
  padding: 20px;
}

#categoria1 {
  background-image: url("../../public/assets/categorias-img-1.png");
  height: 750px;
  background-size: cover;
}
#categoria2 {
  background-image: url("../../public/assets/categorias-img-2.png");
  height: 750px;
  background-size: cover;
}
#categoria3 {
  background-image: url("../../public/assets/categorias-img-3.png");
  height: 750px;
  background-size: cover;
}
#categoria4 {
  background-image: url("../../public/assets/categorias-img-4.png");
  height: 750px;
  background-size: cover;
}

/* SOBRE */
.sobreContainer {
  background-image: url("../../public/assets/sobre-bg.png");
  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.sobreContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: 0 4rem;
}

/* DUVIDAS */

.duvidasContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0;
}

.LinksDuvidas {
  position: relative;
  background-color: white;
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 330px;
  border-radius: 2rem;
}

.LinksDuvidas:hover {
  height: 350px;
  margin-top: -20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.LinksDuvidas h1 {
  font-size: 1.4rem;
  padding: 10px;
}

.verMais {
  position: absolute;
  bottom: -70px;
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: bottom 0.5s ease;
  text-transform: uppercase;
}

.LinksDuvidas:hover .verMais {
  transition: 0.6s;
  bottom: 0;
}

/* SOCIAL IMAGES */

.socialContainer {
  background-color: white;
}

.socialImages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.socialImages img {
  width: 100%;
  height: 100%;
}
.socialImg {
  max-width: 250px;
  height: 100%;
  cursor: pointer;
}
.socialImg:hover {
  transform: scale(103%);
  transition: 0.4s;
}

@media (max-width: 600px) {
  .tarjaVermelha {
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
  .tarjaVermelha div {
    gap: 0.5;
    margin: 0.5rem auto;
  }
}
