.bg {
  background-image: url('../../../../public/assets/produtos/produtos-bg.jpg');
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;

  margin-top: -200px;

  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bg h1 {
  text-align: center;
  margin-top: 200px;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
}
.content {
  margin: 2rem auto;
  max-width: 1000px;
}
.produtoPage {
  font-family: Arial, sans-serif;
  width: 100%;
}

.voltar {
  display: block;
  margin-bottom: 20px;
  color: blue;
  text-decoration: underline;
}

.produtoContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
}

.produtoImages {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.thumbnail {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.mainImage {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: blue;
}

.produtoInfo {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.preco {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.precoOriginal {
  text-decoration: line-through;
  color: red;
}

.precoDesconto {
  font-size: 1.5em;
  color: green;
}

.precoParcelado {
  font-size: 1em;
  color: gray;
}

.cores {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cor {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
}

.whatsappButton {
  display: inline-block;
  padding: 1rem 1.4rem;
  background-color: rgb(120, 189, 120);
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  max-width: 10rem;
}

.descricaoContainer {
  margin: 1rem 2rem;
}

.descricaoMenu {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 20px;
  border-bottom: 1px solid #ccc;
}

.descricaoMenu li {
  padding: 10px 0;
  cursor: pointer;
}

.descricao {
  margin-top: 10px;
  max-width: 600px;
}
.descricao h3 {
  margin-top: 2rem;
}

.imagensContainer {
  margin-top: 20px;
}

.imagens {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.imageContainer {
  position: relative;
  width: 600px;
  display: flex;
  align-items: center;
}

.navButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.navButton:hover {
  color: rgba(0, 0, 0, 0.5);
}

.navButton:first-of-type {
  left: 10px;
}

.navButton:last-of-type {
  right: 10px;
}

.activeThumbnail {
  border: 2px solid blue;
}

@media (max-width: 630px) {
  .mainImage {
    width: 400px;
    height: 320px;
  }

  .imageContainer {
    width: 400px;
  }
}
