.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 99;
}

.menuSocialContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 80%;
  margin-top: 50px;
}

.menu {
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  width: 80%;
  border-top: 1px solid #ffffff3f;
}

.desktopMenu {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.desktopMenu a {
  display: inline-block;
  position: relative;
}

.desktopMenu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #c91b0b;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.desktopMenu a:hover:after {
  width: 100%;
}

.menu a,
.menu {
  color: white;
}

.secondMenu {
  background-color: #c91b0b;
  padding: 1rem;
  display: none;
  flex-direction: column;
  position: absolute;
  gap: 1rem;
  min-width: 200px;
  border-radius: 4px;
}

.subMenu:hover .secondMenu {
  display: flex;
}
