.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 99;
}

.menuSocialContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 80%;
  margin-top: 50px;
}

.menu {
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  width: 80%;
  border-top: 1px solid #ffffff3f;
}

.desktopMenu {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.desktopMenu a {
  display: inline-block;
  position: relative;
}

.desktopMenu a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background: #c91b0b;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.desktopMenu a:hover:after {
  width: 100%;
}

.menu a,
.menu {
  color: white;
}

.secondMenu {
  background-color: #c91b0b;
  padding: 1rem;
  display: none;
  flex-direction: column;
  position: absolute;
  gap: 1rem;
  min-width: 200px;
  border-radius: 4px;
}

.subMenu:hover .secondMenu {
  display: flex;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 25px;
  z-index: 10;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 4px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.hamburger.open .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open .bar2 {
  opacity: 0;
}

.hamburger.open .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 680px) {
  .hamburger {
    display: block;
  }

  .desktopMenu {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: #c91b0b;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
  }

  .desktopMenu.open {
    display: flex;
  }

  .menuSocialContainer {
    display: none;
  }
  .secondMenu {
    position: absolute;
    left: -201px;
  }
}
