.duvidasContainer {
  width: 100%;
}
.bg {
  background-image: url('../../../public/assets/duvidas/duvidas-bg.png');
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: -200px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bg h1 {
  text-align: center;
  margin-top: 200px;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
}
.gridDuvidasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 6rem;
}
.duvidasContent {
  display: flex;
  max-width: 1200px;
  gap: 1rem;
  border-radius: 8px;
}
.duvidasContentText {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 8px;
}
.duvidasContentText h2 {
  margin: 10px;
}
.duvidasContent img {
  border-radius: 8px;
}
.duvidasText {
  font-size: small;
  color: #b2b2b2;
  text-align: left;
  margin: 20px 30px;
}
.duvidasText span {
  font-weight: bold;
  color: #000;
}
.duvidasSubText {
  font-weight: 500;
  text-align: left;
  margin: 20px 30px;
}
#imgNone {
  display: none;
}
.secondTitle {
  margin: 10px 0;
}
