.gridProdutosContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.gridProdutosContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.button {
  background-color: #c91b0b;
  color: white;
  padding: 15px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-align: center;
}
