/* GetProdutosDestaque.module.css */
.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1400px;
  margin: 2rem auto;
}

.gridProdutosContent {
  position: relative;
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.gridProdutosContent:hover {
  transform: scale(1.03);
}

.image {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease;
  border-radius: 0.4rem;
}

.gridProdutosContent:hover .image {
  opacity: 0.3;
}

.middle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.gridProdutosContent:hover .middle {
  opacity: 1;
}

.text {
  background-color: #c91b0b;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.text:hover {
  background-color: #a81707;
}
.textDescription {
  text-align: start;
  width: 250px;
}
.textDescription h2 {
  font-size: 1.2rem;
}
.precoOriginal {
  text-align: start;
  text-decoration: line-through;
  color: red;
  font-size: 0.8rem;
}
.precoDesconto {
  font-size: 1.2rem;
}
.precoDesconto span {
  font-size: 0.8rem;
}

.precoParcelado {
  font-size: 0.8rem;
  color: gray;
}
@media (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }
  .gridProdutosContent {
    width: 90%;
  }

  .textDescription p {
    font-size: 1rem;
  }
}
